# Extract and Load
<hr>

In [55]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

## Movies Extract

In [31]:
movies_file="MoviesOnStreamingPlatforms.csv"
movies_df=pd.read_csv(movies_file)

## Netflix Movies Extract

In [142]:
netflix_file="netflix-dataset.csv"
netflix_df=pd.read_csv(netflix_file)

In [143]:
# movies_df.head(1)

## Movies Transformation

In [144]:
movies_df.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [145]:
new_movies_df=movies_df[['Title', 'Age', 'Hulu', 'Prime Video', 'Disney+']].copy()
new_movies_df.rename(columns={'Title':'title', 'Age':'age', 'Hulu':'hulu',
                              'Prime Video':'prime_video', 'Disney+':'disney_plus'},inplace=True)
new_movies_df.head()

                            title  age  hulu  prime_video  disney_plus
0                       Inception  13+     0            0            0
1                      The Matrix  18+     0            0            0
2          Avengers: Infinity War  13+     0            0            0
3              Back to the Future   7+     0            0            0
4  The Good, the Bad and the Ugly  18+     0            1            0

## Netflix Transformation

In [146]:
netflix_df.columns

Index(['Title', 'Genre', 'Tags', 'Languages', 'Series or Movie',
       'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director',
       'Writer', 'Actors', 'View Rating', 'IMDb Score',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice', 'Release Date',
       'Netflix Release Date', 'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site'],
      dtype='object')

In [147]:
new_netflix_df = netflix_df[netflix_df['Series or Movie']=='Movie'].copy()
new_netflix_df=new_netflix_df[['Title','Summary', 'Genre', 'Languages', 'Director','Actors', 'IMDb Score', 
                'Release Date', 'IMDb Link', 'Poster']]

new_netflix_df.rename(columns={'Title':'title', 'Genre':'genre', 'Languages':'languages', 
                               'Director':'director','Actors':'actors', 'IMDb Score':'imdb_score', 
                               'Release Date':'release_date', 'IMDb Link':'imdb_link',
                               'Summary':'summary', 'Poster':'poster'},inplace=True)

In [148]:
new_netflix_df['release_date']=pd.to_datetime(new_netflix_df['release_date'], format='%d %b %Y')

In [149]:
new_netflix_df.loc[new_netflix_df.duplicated()]

,title,summary,genre,languages,director,actors,imdb_score,release_date,imdb_link,poster
6082,Sarkar,A ruthless businessman’s mission to expose ele...,"Action, Drama",Tamil,A.R. Murugadoss,"Pala Karuppaiah, Varalaxmi Sarathkumar, Joseph...",6.8,2018-11-06,https://www.imdb.com/title/tt7715202,https://m.media-amazon.com/images/M/MV5BYTJmMj...

In [150]:
new_netflix_df = new_netflix_df.drop_duplicates(keep='first')

In [151]:
new_netflix_df['title'].loc[new_netflix_df['title'].duplicated()]

1536                   Second Chance
1721                           Joker
1763                           Money
1850                        The Call
1907                  The Invisibles
                    ...
15183          The Cold Light of Day
15186    The Texas Chainsaw Massacre
15231                   The Way Back
15255                         Oldboy
15419                         Sadako
Name: title, Length: 194, dtype: object

In [152]:
new_netflix_df.loc[new_netflix_df['title']=='Joker',:]

,title,summary,genre,languages,director,actors,imdb_score,release_date,imdb_link,poster
15,Joker,A practical jokers fake kidnapping at a bachel...,"Crime, Drama, Thriller",English,Todd Phillips,"Joaquin Phoenix, Zazie Beetz, Robert De Niro, ...",8.4,2019-10-04,https://www.imdb.com/title/tt7286456,https://m.media-amazon.com/images/M/MV5BNGVjNW...
1721,Joker,"In 1981 Gotham City, a struggling, mentally il...","Crime, Drama, Thriller",English,Todd Phillips,"Joaquin Phoenix, Zazie Beetz, Robert De Niro, ...",8.4,2019-10-04,https://www.imdb.com/title/tt7286456,https://m.media-amazon.com/images/M/MV5BNGVjNW...
8153,Joker,A remote village situated neither in India or ...,"Comedy, Family, Sci-Fi",Hindi,Shirish Kunder,"Shreyas Talpade, Akshay Kumar, Minissha Lamba,...",2.4,2012-08-31,https://www.imdb.com/title/tt1918886,https://images-na.ssl-images-amazon.com/images...

In [153]:
# new_netflix_df = new_netflix_df['imdb_link'].drop_duplicates(keep='first')

### Create database connection

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:estrada12@localhost:5432/customer_db')
connection = engine.connect()

### Load DataFrames into database

In [ ]:
new_premise_df.to_sql(name='premise_table', con=engine, if_exists='append', index=False)